<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kubernetes Fun</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</head>
<body class="w3-display-container" style="height:100vh;">

    <!-- Header -->
    <header class="w3-container w3-blue">
        <h1>Kube Fun</h1>
    </header>

     <!-- Navigation Menu -->
     <nav class="w3-bar w3-black">
        <a href="{{ url_for('welcome') }}" class="w3-bar-item w3-button">Welcome</a>
        <a href="{{ url_for('nodes') }}" class="w3-bar-item w3-button">Nodes</a>
        <a href="{{ url_for('volumes') }}" class="w3-bar-item w3-button">Volumes</a>
        <a href="{{ url_for('namespaces') }}" class="w3-bar-item w3-button">Namespaces</a>
        <a href="{{ url_for('deployments') }}" class="w3-bar-item w3-button">Deployments</a>
        <a href="{{ url_for('pods') }}" class="w3-bar-item w3-button">Pods</a>
        <a href="{{ url_for('apps') }}" class="w3-bar-item w3-button">Services</a>
        <a href="{{ url_for('about') }}" class="w3-bar-item w3-button">About</a>
    </nav>

    <!-- Content Area -->
    <div class="w3-container w3-display-container"> <!-- Padding for footer -->
        {% block content %}
        <!-- Your dynamic content goes here -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <!-- <footer class="w3-container w3-blue w3-center w3-display-bottommiddle" style="width:100%; position:absolute; bottom:0;">
        <h5>Isambard Team &copy; 2024</h5>
    </footer> -->


<script>
    $(document).ready(function() {
        $('#squeueTable').DataTable();
    });
</script>
</body>
</html>
