{% extends "base.html" %}
{% block content %}
<h2>Cluster Resources</h2>

<h3>Nodes</h3>
<table id="nodesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for node in nodes %}
        <tr>
            <td>{{ node.name }}</td>
            <td>{{ node.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Namespaces</h3>
<table id="namespacesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for namespace in namespaces %}
        <tr>
            <td>{{ namespace.name }}</td>
            <td>{{ namespace.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}