{% extends "base.html" %}
{% block content %}
<h2>Nodes and Namespaces</h2>

<h3>Nodes</h3>
<table id="nodesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for node in nodes %}
        <tr>
            <td><a href="{{ url_for('node_detail', node_name=node.name) }}">{{ node.name }}</a></td>
            <td>{{ node.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Namespaces</h3>
<table id="namespacesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Pods</th>
            <th>Deployments</th>
            <th>Services</th>
        </tr>
    </thead>
    <tbody>
        {% for namespace in namespaces %}
        <tr>
            <td><a href="{{ url_for('namespace_detail', namespace_name=namespace.name) }}">{{ namespace.name }}</a></td>
            <td>{{ namespace.status }}</td>
            <td>{{ namespace.pods }}</td>
            <td>{{ namespace.deployments }}</td>
            <td>{{ namespace.services }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- DataTables Initialization -->
<script>
    $(document).ready(function() {
        $('#nodesTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
        $('#namespacesTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
    });
</script>
{% endblock %}
