{% extends "base.html" %}
{% block content %}
<h2>Namespaces</h2>
<table id="namespacesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Pods</th>
            <th>Deployments</th>
            <th>Services</th>
            <th>Secrets</th>
        </tr>
    </thead>
    <tbody>
        {% for namespace in namespaces %}
        <tr>
            <td><a href="{{ url_for('namespace_detail', namespace_name=namespace.name) }}">{{ namespace.name }}</a></td>
            <td>{{ namespace.status }}</td>
            <td><a href="{{ url_for('pods', namespace=namespace.name) }}">{{ namespace.pods }}</a></td>
            <td><a href="{{ url_for('deployments', namespace=namespace.name) }}">{{ namespace.deployments }}</a></td>
            <td><a href="{{ url_for('services', namespace=namespace.name) }}">{{ namespace.services }}</a></td>
            <td><a href="{{ url_for('secrets', namespace=namespace.name) }}">{{ namespace.secrets }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- DataTables Initialization -->
<script>
    $(document).ready(function() {
        $('#namespacesTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
    });
</script>
{% endblock %}
