{% extends "base.html" %}

{% block content %}
<h2>Pod: {{ pod.metadata.name }}</h2>
<p><strong>Namespace:</strong> {{ pod.metadata.namespace }}</p>
<p><strong>Status:</strong> {{ pod.status.phase }}</p>
<p><strong>Node:</strong> {{ pod.spec.node_name }}</p>
<p><strong>IP:</strong> {{ pod.status.pod_ip }}</p>
<p><strong>Labels:</strong> {{ pod.metadata.labels }}</p>
<p><strong>Creation Timestamp:</strong> {{ pod.metadata.creation_timestamp }}</p>

<h3>Containers</h3>
<table class="w3-table w3-bordered w3-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Ports</th>
            <th>Ready</th>
        </tr>
    </thead>
    <tbody>
        {% for container in pod.spec.containers %}
        <tr>
            <td>{{ container.name }}</td>
            <td>{{ container.image }}</td>
            <td>
                {% if container.ports %}
                    {% for port in container.ports %}
                        {{ port.container_port }}/{{ port.protocol }}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if container.ready %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Events</h3>
<ul>
    {% for event in events %}
    <li>{{ event.message }}</li>
    {% endfor %}
</ul>

<h3>Description</h3>

<div class="w3-card w3-padding">
    <!-- Preformatted block for the JSON content -->
    <pre><code class="language-json">{{ pod | tojson(indent=2) | safe }}</code></pre>
</div>

<!-- Include Prism.js library for syntax highlighting -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-json.min.js"></script>
{% endblock %}
