{% extends "base.html" %}

{% block content %}
<h2>Secret: {{ secret.name }}</h2>
<p><strong>Namespace:</strong> {{ secret.namespace }}</p>
<p><strong>Type:</strong> {{ secret.type }}</p>
<p><strong>Creation Timestamp:</strong> {{ secret.creation_timestamp }}</p>

<h3>Data</h3>
<table class="w3-table w3-bordered w3-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in secret.data.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>
                ***** (Sensitive)
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
