{% extends "base.html" %}
{% block content %}
<h2>Cluster Volumes</h2>

<h3>Storage Classes</h3>
<table id="storageClassesTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Provisioner</th>
        </tr>
    </thead>
    <tbody>
        {% for sc in storage_classes %}
        <tr>
            <td><a href="{{ url_for('storageclass_details', storageclass_name=sc.name) }}">{{ sc.name }}</a></td>
            <td>{{ sc.provisioner }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Persistent Volume Claims and Persistent Volumes</h3>
<table id="pvspvTable" class="dataTable">
    <thead>
        <tr>
            <th>PVC Name</th>
            <th>PVC Namespace</th>
            <th>PVC Status</th>
            <th>PVC Capacity</th>
            <th>PV Name</th>
            <th>PV Status</th>
            <th>PV Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for relation in pv_pvc_relationships %}
        <tr>
            <td>{{ relation.PVC.name }}</td>
            <td>{{ relation.PVC.namespace }}</td>
            <td>{{ relation.PVC.status }}</td>
            <td>{{ relation.PVC.capacity }}</td>
            <td>{{ relation.PV.name if relation.PV else 'No matching PV' }}</td>
            <td>{{ relation.PV.status if relation.PV else 'N/A' }}</td>
            <td>{{ relation.PV.capacity if relation.PV else 'N/A' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Persistent Volumes (PVs)</h3>
<table id="pvsTable" class="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for pv in persistent_volumes %}
        <tr>
            <td>{{ pv.name }}</td>
            <td>{{ pv.capacity }}</td>
            <td>{{ pv.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- DataTables Initialization -->
<script>
    $(document).ready(function() {
        $('#storageClassesTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
        $('#pvsTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
        $('#pvspvTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
    });
</script>
{% endblock %}
