{% extends "base.html" %}
{% block content %}
<!-- Search Form in the Middle of the Page -->
<div style="display: flex; justify-content: center; margin: 3rem 0;">
    <div style="text-align: center;">
        <h2>Search Kubernetes Resources</h2>
        <form action="{{ url_for('search') }}" method="get" class="w3-container w3-padding">
            <input type="text" name="query" class="w3-input w3-border w3-round" placeholder="Enter keyword..." required value="{{ query }}" style="width: 300px; margin: auto;">
            <button type="submit" class="w3-button w3-blue w3-margin-top">Search</button>
        </form>
    </div>
</div>

{% if results %}
<h3>Search Results</h3>
<table id="searchResultsTable" class="w3-table-all w3-striped w3-bordered">
    <thead>
        <tr>
            <th>Resource Type</th>
            <th>Name</th>
            <th>Namespace</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
        <tr>
            <td>{{ result.type }}</td>
            <td>{{ result.name }}</td>
            <td>{{ result.namespace }}</td>
            <td>{{ result.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        $('#searchResultsTable').DataTable({
            "autoWidth": false,
            "responsive": true
        });
    });
</script>
{% elif query %}

<p>No resources found matching <strong>{{ query }}</strong>.</p>
{% endif %}
<!-- DataTables Initialization -->

{% endblock %}
